
    body {
        background-image: url("https://i.pinimg.com/originals/a1/af/e3/a1afe3d0e72d48986573b7ec9595f583.jpg");
        background-repeat: no-repeat;
        
    }

    a {
        color: rgb(59, 59, 59);
    }
    .logo {
        height: 55px;
        padding: 0px 0px;
        margin-bottom: 5px;
        margin-left: -75px;
        padding-left: 20px;
    
    }       
    .container {
        margin: auto;
        margin-top: 100px;
        font-size: 18px;
        border-color: darkgrey;
        box-shadow: 0 5px 10px #bbbbbb;
        width:500px;
        max-width: 90%;
        padding: 20px;
        align-content: center;
        background-color: white;
        } 
    p {
        margin-bottom: 0px;
    }
    #navbar {
        position: fixed;
    }
    #profilepic {
        float: left;
        height: 175px;
        padding-right: 25px;
        padding-bottom: 7.5px;
        border-color: rgb(143, 118, 122);
        border-width: thin;
    }
    .nav-link, .nav-item  {
        font-size: 18px;
        margin-right: 10px;

    }
    
    h1 {
        color: rgb(236, 236, 236);

    }
    .footer{
       background-color:darkcyan;
       color: cornsilk;
       width: max-content;
       text-align:center;
       position: fixed;
       margin: auto;
       bottom: 0;
       min-width: fit-content; 
       padding: 4px 0px;
              
    }

    i {
        margin-left: 50px;
        margin-right: 50px;
        padding: 10px;
        height: 10px;
        

    }
    .contact {
        margin-top: 90px;
    }

    .card-body {
        padding: 5px;
    }
    .container {
        padding: 5px 20px;
    }
    h3 {
        padding-top: 10px;
    }
    .card-body {
        padding: 0px;
    }
    .text-center {
        padding: 10px;
    }
    .portfolio {
        margin-top: 85px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .aboutme {
        padding-bottom: 20px;
    }
    .portfoliotitle {
        margin-bottom: 0px;
        font-size: 28px;
        padding-top: 15px;
    }
    .mb-3:hover {
        cursor: pointer;
    }